.future {
    border: 2px solid;
    display: flex;
}

.title{
    width: 100%;
    border: 2px solid;
    display: flex;
    justify-content: center;
    color:rgb(0, 0, 0);
    margin: 0 auto;
}

.dia1{
    border: 2px solid;
    margin: auto;
    color: rgb(0, 0, 0);
}