<div class="title">
    <h3 >Próximos dias</h3>
</div>
<div class="future">

    <div class="dia1">
        <p>{{ receptor2.datetime }}</p>
            <p>
                <img 
                    src="https://www.weatherbit.io/static/img/icons/{{ infoApi1.data[1].weather.icon }}.png" alt="">
            </p>
        <p>{{ receptor2.temp }}º</p>
        <p>{{ infoApi1.data[1].weather.description }}</p>
    </div>

    <div class="dia1">
        <p>{{ receptor3.datetime }}</p>
            <p>
                <img 
                    src="https://www.weatherbit.io/static/img/icons/{{ infoApi1.data[2].weather.icon }}.png" alt="">
            </p>
        <p class="aftn-degree">{{ receptor3.temp }}º</p>
        <p class="aftn-desc">{{ infoApi1.data[2].weather.description }}</p>
    </div>

    <div class="dia1">
        <p>{{ receptor4.datetime }}</p>
            <p>
                <img 
                    src="https://www.weatherbit.io/static/img/icons/{{ infoApi1.data[3].weather.icon }}.png" alt="">
            </p>
        <p>{{ receptor4.temp }}º</p>
        <p>{{ infoApi1.data[3].weather.description }}</p>
    </div>
</div>