<div class="current-container">
  <div class="container">
    <div class="container__item">
      <form [formGroup]="formWeather" (ngSubmit)="getCity(formWeather.value)" class="form">
        <input name="city" formControlName="city" type="text" value="" class="form__field"
          placeholder="Digite a cidade:" />
        <button type="submit" value="" class="btn btn--primary btn--inside">Pesquisar</button>
      </form>
    </div>
    <div class="container__item container__item--bottom">
    </div>
  </div>
  <div class="display-content">
    <p class="labels">
      <img src="https://www.weatherbit.io/static/img/icons/{{ infoApi.data[0].weather.icon }}.png">
        {{ receptor.description | uppercase }} 
    </p>
    <!-- <p class="labels" >{{ receptor.date}}</p> -->
    <h1 class="temperature" >{{ receptor.temperature }}˚
      <h2 id="city">{{ receptor.city | titlecase }}</h2>
    </h1>
  </div>
</div>