// .current-container {
//     // border: solid;
// }

//** variables
$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #7f8ff4;
$button-text-color: #fff;

//** root
:root {
    background: $background;
    color: $text;
    font: 1rem "PT Sans", sans-serif;
}

html,
body,
.container {
    height: 100%;
}

a {
    color: inherit;

    &:hover {
        color: $button-bg-color;
    }
}

//** helper
.container {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}



.uppercase {
    text-transform: uppercase;
}

//** button
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    

    &--primary {
        background-color: rgb(50, 29, 172);
        color: $button-text-color;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 8px 23px;
        

        &:hover {
            background: darken($button-bg-color, 4%);
        }

        &:active {
            background: $button-bg-color;
            box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
        }
    }

    &--inside {
        margin-left: -115px;
    }
}

//** form
.form {
    &__field {
        width: 400px;
        color: $input-text-color;
        font: inherit;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        border: 0;
        outline: 0;
        padding: 12px 24px;
    }
}


.display-content{
    margin: auto;
    text-align: center;
    // border: solid;
    flex-direction: column;
    height: 370px;
    width: 450px;
    display: flex;
}

.display-content h1 {
    margin-top: -35%;
    margin-left: 15%;
    font-size: 90px;
    
}

.labels{
    font-size: 1.5em;
    margin-top: -7px;
    font-weight: bold;
    margin-left: 130%;
    
}

.temperature{
    font-size: 3.3em;
    margin-top: -40%;
    margin-left: 85%;
    font-size: 25px;
}

.temperature h2 {
    font-size: 50px;
}